/*Header*/
.wrapper {
	margin-top: 7em;
}
.navbar-inverse {
	background: #C80000;
	border: #C80000;
}
.navbar-inverse .navbar-nav > li > a,
#userAction {
	color: black;
	background: #C80000;
	display: block;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
a#userAction:hover,
a#userAction:active {
	color: white;
	background: #C80000;
	display: block;
}

/*Login*/
#q-logo {
	height: 10em;
	width: 11em;
}

#loginBtn, #submitBtn {
	background: #C80000;
	border-color: #C80000;
}
.login-container {
	margin-top : 10em;
	padding-left: 20%;
	padding-right: 20%;
}
.login-box {
	border-radius: 25px;
	background: white;
	border-color: #C80000;
	border-width : 2px;
}
.logo-text {
	color: #C80000;
	font-size: 20px;
}
.new-user-link {
	display: block;
	text-align: center;
}


/*Home*/
.home-panel {
	border-color: #C80000;
}
.home-panel > .panel-heading {
	border-color: #C80000;
	color: #C80000;
}
#priceAssess,
#dealSubmit,
#findDeal {
	height: 50px;
	background: silver;
}
#fujitsu-logo {
	height: 7em;
	padding-left: 2em;
}
#homeLogout {
	margin-top: 4em;
	float: right;
	color: #C80000;
}
.error {
	margin-bottom: 20px;
	color: red;
}
.info {
	margin-bottom: 20px;
	color: green;
}

/*Generic */
.main-label {
	color: #00BFFF;
	font-size: 25px;
}
.generic-table {
	width: 65%;
}
 
.generic-table td {
	border-top: none !important;
}

.generic-table td.genericLabel {
	width: 40%;
	vertical-align: middle;
}

.generic-table input {
	width: 100%;
}

.generic-table select {
	height: 100%;
	padding: 3px;
}
#genericForm .table > tbody > tr > td {
	padding:3px;
} 

}
.Content
{
  height: 51em;
   overflow:auto;
 
}


/*Hosting*/
.table-content tr td
{
	width: 200px;
	color: black;
	padding: 3px;
}

.table-content1 tr
{
	width:100px;
	padding: 4px;
	font-size: 16px;
}

.table-content1 th
{
	    font-weight: unset;
	    text-align: center;
	    font-size: 15px;

}


.panel-body{
		margin-left:25px;
}

.table-content1 input{
	width:5em;
}
#solutionMenu {
	margin-left: 2em;
}

.tower{
	border-color: #12a2d2;
	border-radius:1em;
}

.main{
	color: #00BFFF;
	font-size: 18px;
}

#distributionList{
	width: 210px;
    margin-left: 55px;
}

tr.dashed {
	border-style: dashed;
}
tr.round{
	border: 2px solid black;
	align-items: center;
	border-radius: 15px;
}


.solution input{
	width: 85%;
}
.solution button{
	height: 1.69em;
}

.modal-content button{
	height:100%;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
	
.radio-label{
	color: #00BFFF;
	font-size: 1em;
}

.level-header{
	width: 25%;
}




.panel-title > i {
  position: relative;
}
.panel-title > i:after {
  content: "\f055"; 
  font-family: 'FontAwesome';
  font-style: normal;
  

}
.panel-title > i[aria-expanded="true"]:after {
  content: "\f056";
  font-style: normal;
}


.fixedHeightContainer
{
  width:80%;
  padding-left:2em;
  border: double;

  
}
.content
{
  height: 36em;
   overflow:auto;
 
}


.generic-table1 {
	width: 100%;
}
 
.generic-table1 td{
	border-top: none !important;
}

.generic-table1 td.genericLabel {
	width: 25%;
	
}
.generic-table1 th
{
	    font-weight: unset;
	    text-align: center;
	    font-size: 15px;
		border-top: none !important;
}

