<section class="wrapper">
	<div class="container">
<div>
    <h3><span class="glyphicon glyphicon-globe"></span>  Generic Deal Settings </h3>
             To add a new deal please start with some generic parameters <br/> 
             that will be your default variables accross the different inputs.
</div>
<br/>
<div class="fixedHeightContainer">

 <div class="content">
     <form id="genericForm">
        <div >
           <h3 class="main-label">Deal information</h3>
           <table class="table generic-table">
           <tr>
                <td class="genericLabel"> Deal Type  </td>
                <td>
                     <select id="dealtype" class="form-control" ng-model="dealTypeSelected">
                    <option value="">Select</option>
                     <option ng-repeat="dealTypes in genericDealInfoDto.dealtype">{{dealTypes}}</option>
                   </select>
                 </td>
            </tr>
            <tr>
                <td class="genericLabel"> Client name </td>
                <td> <input type="text" ng-model="clientname" class="form-control"/></td>
               </tr>
               <tr>
                 <td class="genericLabel"> Client Industry  </td>
                 <td>
                     <select id="clientIndustry" class="form-control" ng-model="clientIndustryDtoSelected">
                            <option value="">Select</option>
                            <option ng-repeat="clientIndustries in genericDealInfoDto.clientIndustryDto">{{clientIndustries.industryName}}</option>
                  
                   </select>
                 </td>
             </tr>
               <tr>
                 <td class="genericLabel"> Deal name  </td>
                 <td> <input type="text" ng-model="dealname" class="form-control"/></td>
               </tr>
               <tr>
                 <td class="genericLabel"> Start Date  </td>
                 <td> <input type="date" ng-model="startdate" class="form-control"/></td>
               </tr>
               <tr>
                 <td class="genericLabel"> Dealterm </td>
                 <td> <input type="text" ng-model="dealterm" class="form-control"/></td>
               </tr>
               <tr>
                 <td class="genericLabel"> Deal Phase  </td>
                 <td>
                     <select id="dealPhase" class="form-control" ng-model="dealPhaseSelected">
                            <option value="">Select</option>
                            <option ng-repeat="dealPhases in genericDealInfoDto.dealPhase">{{dealPhases}}</option>
                   </select>
                 </td>
             </tr>
              <tr>
                 <td class="genericLabel"> Country and currency  </td>
                 <td> 
                     <select id="country" class="form-control" ng-model="countrySelected">
                            <option value="">Select</option>
                            <option ng-repeat="countries in genericDealInfoDto.countryCurrencyInfoDto">{{countries.countryName}}</option>
                   </select>
                 </td>
                 <td>
                     <select id="currency" class="form-control" ng-model="currencySelected">
                            <option value="">Select</option>
                            <option ng-repeat="currencies in genericDealInfoDto.countryCurrencyInfoDto">{{currencies.currencyName}}</option>
                   </select>
                 </td>
             </tr>
           </table>
           </div>
       
           <div>
           <h3 class="main-label">Solution defaults</h3>
               <table class="table generic-table">
                   <tr>
                       <td class="genericLabel">Offshore Allowed</td>
                       <td><select id="offshore" class="form-control" ng-model="offshoreSelected">
                            <option value="">Select</option>
                            <option ng-repeat="offshores in genericDealInfoDto.offshoreAndHardwareIncluded">{{offshores}}</option>
                       </select></td>
                   </tr>
                   <tr>
                       <td class="genericLabel">Service Window and SLA</td>
                       <td><select id="serviceWindow" class="form-control" ng-model="standardwindowInfoSelected">
                            <option value="">Select</option>
                            <option ng-repeat="serviceWindows in genericDealInfoDto.standardwindowInfo">{{serviceWindows}}</option>
                       </select></td>
                   </tr>
                   <tr>
                       <td class="genericLabel">Hardware included</td>
                       <td><select id="hardwareIncluded" class="form-control" ng-model="hardwareIncludedSelected">
                            <option value="">Select</option>
                            <option ng-repeat="hardwareIncluded in genericDealInfoDto.offshoreAndHardwareIncluded">{{hardwareIncluded}}</option>
                       </select></td>
                   </tr>
               </table>
           </div>
       
           <div>
               <h2 class="main-label">Volumetric defaults </h2>
               <table class="table generic-table1" >
                  <tr>
                          <th></th>
                          <th ng-repeat="x in numberArr track by $index">Y{{$index+1}}</th>
                          
                  <tr>
                    <td  class="genericLabel"> Number of users</td>
                 
                    <td ng-repeat="x in numberArr track by $index">
                            <input type="text"  class="form-control" ng-model="interpretation[$index]">{{interpretation[$index]}}
                         </td>

                  </tr>
                  <tr>
                    <td  class="genericLabel"> Number of sites </td>
                    <td ng-repeat="x in numberArr track by $index"><input type="text" class="form-control" ng-model="interpretation[$index]"/> </td>
                    
                  </tr>
                   <tr>
                    <td  class="genericLabel"> Number of datacenters </td>
                    <td ng-repeat="x in numberArr track by $index"><input type="text" class="form-control" ng-model="interpretation[$index]"/> </td>
                  
                  </tr>
              </table>
           </div>
       
       
       </form>
 </div>
</div>
</div>
</section>
