 <div class="navbar" >  
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	  	<div class="row">
		  	<div class="col-md-4">
		  		<ul class="nav navbar-nav navbar-left">
		        <li class="dropdown">
		          <a id="userAction" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		          <span class="glyphicon glyphicon-menu-hamburger" style="font-size:28px;"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#"><span class="glyphicon glyphicon-home"></span> Close </a></li>
		            <li><a href="#"><span class="glyphicon glyphicon-save"></span> Save </a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#"><span class="glyphicon glyphicon-export"></span> Export </a></li>
		          </ul>
		        </li>
		      </ul>
		  	</div>
		  	<div class="col-md-6">
		      <ul class="nav navbar-nav towerHeader">
		        <li ng-class="activeFor('generic')">
		        	<a href="#" ng-click="loadGeneric()"><span class="glyphicon glyphicon-globe" style="font-size:28px"></span><br></br>Generic</a>
		        </li>
		        
		        <li ng-class="activeFor('hosting')">
		        	<a href="#" ng-click="loadHosting()"><span class="glyphicon glyphicon-cloud" style="font-size:28px"></span><br></br>Hosting</a>
		        </li>
		        
		        <li ng-class="activeFor('storage')">
		        	<a href="#" ><span class="glyphicon glyphicon-tint" style="font-size:28px"></span><br></br>Storage</a>
		        </li>
		        
		        <li ng-class="activeFor('enduser')">
		        	<a href="#" ><span class="glyphicon glyphicon-user" style="font-size:28px"></span><br></br>End user</a>
		        </li>
		        
		        <li ng-class="activeFor('network')">
		        	<a href="#" ><span class="glyphicon glyphicon-signal" style="font-size:28px"></span><br></br>Network</a>
		        </li>
		        
		        <li ng-class="activeFor('services')">
		        	<a href="#" ><span class="glyphicon glyphicon-th-list" style="font-size:28px"></span><br></br>Services</a>
		        </li>
		        
		        <li ng-class="activeFor('apps')">
		        	<a href="#"><span class="glyphicon glyphicon-text-background" style="font-size:28px"></span><br></br>Apps</a>
		        </li>
		      </ul>
		     </div> 
	  	</div>
	  </div> <!-- .container-fluid -->
	</nav>
</div>