<div ng-include="'views/header.html'"></div>
<section class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<img id="fujitsu-logo" src="../images/fujitsu-logo.png"></img>
			</div>
			<div class="col-md-5">
				<a id="homeLogout" href="/logout" > Logout </a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<a id="priceAssess" class="btn btn-large btn-block btn-default"  href="/generic">Pricing Assessment</a>
				<button id="dealSubmit" type="submit" class="btn btn-large btn-block btn-default" > Deal Submission</button>
				<button id="findDeal" type="submit" class="btn btn-large btn-block btn-default" > Find Existing Deal</button>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default home-panel">  
			      <div class="panel-heading">Recently opened deals</div>  
			      <div class="panel-body">
			      	<a href="#" > Dealname : Clientname : Date </a><br/>
			      	<a href="#" > Dealname : Clientname : Date </a><br/>
			      	<a href="#" > Dealname : Clientname : Date </a><br/>
			      	<a href="#" > Dealname : Clientname : Date </a><br/>
			      	<a href="#" > Dealname : Clientname : Date </a><br/>
			      </div>  
			    </div>  
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="panel panel-default home-panel">  
			      <div class="panel-heading">What's new</div>  
			      <div class="panel-body">
			      	<p>DEALNAME : CLIENTNAME : DATE MODIFIED
			      	</p><p>DEALNAME : CLIENTNAME : DATE MODIFIED
			      	</p><p>DEALNAME : CLIENTNAME : DATE MODIFIED
			      	</p><p>DEALNAME : CLIENTNAME : DATE MODIFIED
			      	</p><p>DEALNAME : CLIENTNAME : DATE MODIFIED
			      	</p>
			      </div>  
			    </div> 
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</section>