<form role="form" th:action="@{/saveHostingDetails}" th:object="${hostingInfoDto}" id="frmHosting" method="post">
<div ng-include="'views/header.html'"></div>
	<section class="wrapper">
		<div class="container">
			<div class="heading">
				<h3>
					<span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>
					Infrastructure and Hosting
				</h3>
				<br /> <br />
			</div>

			<div class="row">
				<div class="col-md-10">
					<!-- <table class="table-content1 solution">
					<tr> &nbsp; &nbsp; &nbsp; Tower Architect &nbsp;&nbsp;
							<input type="text" name="towerArchitect" ></input>
					<button type="button solution" data-toggle="modal" data-target="#myModal">
						<span class=" glyphicon glyphicon-option-horizontal"></span>
					</button>
					</tr>
					</table> -->

					<!-- Modal -->
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">

							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Search window</h4>
								</div>
								<div class="modal-body">
									<form class="navbar-form" role="search">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search"
												name="q" />
											<div class="input-group-btn">
												<button class="btn btn-default" type="submit">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Close</button>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-default tower">
					
					
					<div class="radio">
						
						<input id="radio-1" name="type1" type="radio" />
						<label for="radio-1" class="radio-label "> Input</label>
					</div>
					
					<div class="radio">
					    <input id="radio-2" name="type1" type="radio"/>
					    <label  for="radio-2" class="radio-label "> Result</label>
				 	</div>
				 	
				 	</div>						
				</div>		
				<!-- <div class="col-md-2">
				<div class="panel panel-default tower">
					
					<div class="radio">
						<input id="radio-3" name="type2" type="radio" />
						<label for="radio-3" class="radio-label "> By Unit</label>
					</div>
					
					<div class="radio">
					    <input id="radio-4" name="type2" type="radio"/>
						<label  for="radio-4" class="radio-label "> In Total</label>
					</div>
					
					</div>
				</div> -->
						
				
			</div> 
			<br/> 

			<div class="panel-group" id="accordion">

				<div class="panel panel-default tower">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i data-toggle="collapse"
								data-parent="#accordion" data-target="#solutionSettingBody"
								style="font-size: 25px; color: #00BFFF"></i> <label class="main">
								Solution Setting</label>
						</h4>
					</div>
					<!--/.panel-heading -->
					<div id="solutionSettingBody" class="panel-collapse collapse">
						<div class="panel-body">
							<table class="table-content">
								<tr>
									<td>Offshore Allowed*</td>
									<td><select id="offshoreAllowedMenu" class="form-control" name="offshoreReq" required="required">
											<option value="true">Yes</option>
											<option value="false">No</option>
									</select></td>
								</tr>
								<tr>
									<td>Level of Service</td>
									<td><select id="levelofServiceMenu" class="form-control" name="serviceLevel">
											<option value="2">High</option>
								<option value="1">Medium</option>
								<option value="0">Low</option>
									</select></td>
								</tr>
								<tr>
									<td>Hardware Included*</td>
									<td><select id="hardwareIncludedMenu" class="form-control" name="includeHardware" required="required">
											<option value="true">Yes</option>
											<option value="false">No</option>
									</select></td>
								</tr>
								<tr>
									<td>Tools and Monitoring</td>
									<td><select id="toolingMonitoringMenu" class="form-control" name="toolingMonitoring">
											<option value="true">Yes</option>
											<option value="false">No</option>
									</select></td>
								</tr>
								<tr>
									<td>Co-location*</td>
									<td><select id="coLocationMenu" class="form-control" name="coLocation" required="required">
											<option value="">Select</option>
											<option value="1">Fujitsu Site</option>
											<option value="2">Client Site</option>
									</select></td>
								</tr>
								
							</table>
						</div>
						<!--/.panel-body -->
					</div>
					<!--/.panel-solutionSettingBody -->
				</div>
				<!-- /.panel -->
				<br />
				<div class="panel panel-default tower">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i data-toggle="collapse"
								data-parent="#accordion" data-target="#serverHostingBody"
								style="font-size: 25px; color: #00BFFF"></i> <label class="main">
								Server Hosting </label>
						</h4>
					</div>
					<!--/.panel-heading -->

					<div id="serverHostingBody" class="panel-collapse collapse">
						<div class="panel-body">

							<!-- nested level group one -->
							<div class="panel-group" id="serverHostingChildGroup">

								<div class="panel panel-default tower">
									<!--/.panel-heading -->
									<div class="panel-body">
										<table class="table-content1">
											<tr>
												<td>Distribution list</td>
												<td>
													<select id="solutionMenu" class="form-control" name="selectedSolId" onchange="getDefaultSolutions();" >
														<option value="0">Select</option>
														<option th:each="sol : ${solutions}" 
												          th:value="${sol.solutionId}" 
												          th:text="${sol.solutionName}+' : '+${sol.solutionDesc}" >
												         </option>
													</select>
												</td>
											</tr>
										</table>
									</div>
									<!--/.panel-body -->
								</div>
								<!--/.panel -->
								<br/>
								<div class="panel panel-default tower">
									<div class="panel-heading">
										<h4 class="panel-title">
											<table class="table-content1">
												<tr>
													<th></th>
												</tr>
												<tr>
													<th></th>
													<th>Y1</th>
													<th>Y2</th>
													<th>Y3</th>
													<th>Y4</th>
													<th>Y5</th>
												</tr>
												<tr>
													
													<i   data-toggle="collapse" data-parent="#serverHostingChildGroup" data-target="#serverVolumeBody" style="font-size: 25px; color: #00BFFF"></i> 
													<td class="level-header">	Server Volume &nbsp;</td>
													<input id="totalServerVol" type="hidden" maxLength="5" name="totalServers" />
													<td><input id="serverVolY1" class="form-control" type="text" maxLength="6"  onchange="calculateServerVolume();"/></td>
													<td><input id="serverVolY2" class="form-control" type="text" maxLength="6" /></td>
													<td><input id="serverVolY3" class="form-control" type="text" maxLength="6" /></td>
													<td><input id="serverVolY4" class="form-control" type="text" maxLength="6" /></td>
													<td><input id="serverVolY5" class="form-control" type="text" maxLength="6" /></td>
												</tr>
											</table>
										</h4>
									</div>
									<!--/.panel-heading -->

									<div id="serverVolumeBody" class="panel-collapse collapse">

										<div class="panel-body">

											<!-- nested level group two -->
											<div class="panel-group" id="serverVolChildPanelGrp">

												<div class="panel panel-default tower">
													<div class="panel-heading">
														<h4 class="panel-title">
															<table class="table-content1">
																<tr>
																	<th></th>
																</tr>
																<tr>
																	<th></th>
																	<th></th>
																	<th>Y1</th>
																	<th>Y2</th>
																	<th>Y3</th>
																	<th>Y4</th>
																	<th>Y5</th>
																</tr>
																<tr>
																	<i data-toggle="collapse" data-parent="#serverVolChildPanelGrp" data-target="#nested-collapsePhysicalServers" style="font-size: 25px; color: #00BFFF"></i>
																	<td class="level-header"> Physical Server &nbsp;</td>
																<input id="physicalServerVol" type="hidden" maxLength="5" name="physicalServers" class="form-control"/>
																<td><input id="pServerPercent" type="text" class="form-control" maxLength="4" name="physicalServerPerc" onchange="calculatePhysicalServers();"></input></td>
																<td><input id="pServerVolY1" type="text" class="form-control" maxLength="5"></input></td>
																<td><input id="pServerVolY2" type="text" class="form-control"  maxLength="5"></input></td>
																<td><input id="pServerVolY3" type="text" class="form-control" maxLength="5"></input></td>
																<td><input id="pServerVolY4" type="text" class="form-control"  maxLength="5"></input></td>
																<td><input id="pServerVolY5" type="text" class="form-control" maxLength="5"></input></td>
																</tr>
															</table>
															</h4>
														</div>
														<!--/.panel-heading -->

														<div id="nested-collapsePhysicalServers" class="panel-collapse collapse">
					
															<div class="panel-body">
					
																<div class="panel-group" id="physicalChild">
					
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th><th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																						
																						<i   data-toggle="collapse" data-parent="#physicalChild" data-target="#nested-window" style="font-size: 25px; color: #00BFFF"></i>
																						<td class="level-header">Windows/Linux &nbsp;</td>
																						<input id="physicalWinServerVol" type="hidden" maxLength="5" name="physicalWinLinuxServers" /><input id="physicalWinServerVol" type="hidden" maxLength="5" name="physicalWinLinuxServers" />
																						<td><input  id="pServerWinPercent" type="text" class="form-control" maxLength="6" name="physicalWinLinuxPerc" onchange="calculatePhysicalWinServers();"/></td>																					
																						<td><input id="pServerWinVolY1" class="form-control" type="text" maxLength="6" /></td>
																						<td><input id="pServerWinVolY2" class="form-control" type="text" maxLength="6" /></td>
																						<td><input id="pServerWinVolY3" class="form-control"  type="text" maxLength="6" /></td>
																						<td><input id="pServerWinVolY4" class="form-control"  type="text" maxLength="6" /></td>
																						<td><input id="pServerWinVolY5" class="form-control" type="text" maxLength="6" /></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nested-window" class="panel-collapse collapse">
					
																			<div class="panel-body">
																					<table class="table-content1">
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Small &nbsp;</td>
																							<input id="physicalWinSmServerVol" type="hidden" maxLength="5" name="physicalWinLinuxSmallServers" />
																							<td><input  id="pServerWinSmPercent" class="form-control" type="text" maxLength="6" name="physicalWinLinuxSmallPerc" onchange="calculatePhysicalWinSmServers();"/></td>
																							<td><input id="pServerWinSmVolY1" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinSmVolY2" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinSmVolY3" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinSmVolY4" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinSmVolY5" class="form-control"  type="text" maxLength="6" /></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Medium &nbsp;</td>
																							<input id="physicalWinMdServerVol" type="hidden" maxLength="5" name="physicalWinLinuxMediumServers" />
																							<td><input id="pServerWinMdPercent" class="form-control" type="text" maxLength="6" name="physicalWinLinuxMediumPerc" onchange="calculatePhysicalWinMdServers();"/></td>
																							<td><input id="pServerWinMdVolY1" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinMdVolY2" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinMdVolY3" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinMdVolY4" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinMdVolY5" class="form-control"  type="text" maxLength="6" /></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Large &nbsp;</td>
																							<input id="physicalWinLgServerVol" type="hidden" maxLength="5" name="physicalWinLinuxLargeServers" />
																							<td><input  id="pServerWinLgPercent" class="form-control" type="text" maxLength="6" name="physicalWinLinuxLargePerc" onchange="calculatePhysicalWinLgServers();"/></td>
																							<td><input id="pServerWinLgVolY1" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinLgVolY2" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinLgVolY3" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinLgVolY4" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="pServerWinLgVolY5" class="form-control"  type="text" maxLength="6" /></td>
																							</tr>
																							</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																	<br/>
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th><th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																						<i  data-toggle="collapse" data-parent="#physicalChild" data-target="#nested-unix" style="font-size: 25px; color: #00BFFF"></i>
																						<td class="level-header">Unix &nbsp;</td>
																						<input id="physicalUnixServerVol" type="hidden" maxLength="5" name="physicalUnixServers" />
																						<td><input id="pServerUnixPercent" class="form-control"  type="text" maxLength="6" name="physicalUnixPerc" onchange="calculatePhysicalUnixServers();" style="margin-right: 10px;"/></td>
																						<td><input id="pServerUnixVolY1" class="form-control"  type="text" maxLength="6"/></td>
																						<td><input id="pServerUnixVolY2" class="form-control"  type="text" maxLength="6"/></td>
																						<td><input id="pServerUnixVolY3" class="form-control"  type="text" maxLength="6"/></td>
																						<td><input id="pServerUnixVolY4" class="form-control"  type="text" maxLength="6"/></td>
																						<td><input id="pServerUnixVolY5" class="form-control"  type="text" maxLength="6"/></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nested-unix" class="panel-collapse collapse">
					
																			<div class="panel-body">
																				<table class="table-content1">
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Small &nbsp;</td>
																				<input id="physicalUnixSmServerVol" type="hidden" maxLength="5" name="physicalUnixSmallServers" />
																				<td><input id="pServerUnixSmPercent" class="form-control"  type="text" maxLength="6" name="physicalUnixSmallPerc" onchange="calculatePhysicalUnixSmServers();" style="margin-right: 10px;"/></td>
																				<td><input id="pServerUnixSmVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixSmVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixSmVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixSmVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixSmVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Medium &nbsp;</td>
																				<input id="physicalUnixMdServerVol" type="hidden" maxLength="5" name="physicalUnixMediumServers" />
																				<td><input id="pServerUnixMdPercent" class="form-control"  type="text" maxLength="6" name="physicalUnixMediumPerc" onchange="calculatePhysicalUnixMdServers();" style="margin-right: 10px;"/></td>
																				<td><input id="pServerUnixMdVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixMdVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixMdVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixMdVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixMdVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Large &nbsp;</td>
																				<input id="physicalUnixLgServerVol" type="hidden" maxLength="5" name="physicalUnixLargeServers" />
																				<td><input id="pServerUnixLgPercent" class="form-control"  type="text" maxLength="6" name="physicalUnixLargePerc" onchange="calculatePhysicalUnixLgServers();" style="margin-right: 10px;"/></td>
																				<td><input id="pServerUnixLgVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixLgVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixLgVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixLgVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="pServerUnixLgVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																				</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																</div>
															</div>
															<!--/.panel-body -->
														</div>
														<!--/ .nested level group two -->
													</div>
												<!--/.panel -->
												<br />

												<div class="panel panel-default tower">
													<div class="panel-heading">
														<h4 class="panel-title">
															<table class="table-content1">
																<tr>
																	<th></th>
																</tr>
																<tr>
																	<th></th>
																	<th></th>
																	<th>Y1</th>
																	<th>Y2</th>
																	<th>Y3</th>
																	<th>Y4</th>
																	<th>Y5</th>
																</tr>
																<tr>
																	<i data-toggle="collapse" data-parent="#serverVolChildPanelGrp" data-target="#nested-collapseVirtualServers" style="font-size: 25px; color: #00BFFF"></i>
																	<td class="level-header"> Virtual Server &nbsp;</td>
																	<input id="virtualServerVol" type="hidden" maxLength="5" name="virtualServers" />
																	<td><input id="vServerPercent" class="form-control"  type="text" maxLength="6" name="virtualServerPerc" onchange="calculateVirtualServers();" style="margin-right: 10px;"></input></td>
																	<td><input id="vServerVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																	<td><input id="vServerVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																	<td><input id="vServerVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																	<td><input id="vServerVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																	<td><input id="vServerVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																</tr>
															</table>
														</h4>
													</div>
													<!--/.panel-heading -->

													<div id="nested-collapseVirtualServers" class="panel-collapse collapse">

														<div class="panel-body">

															<div class="panel-group" id="virtualchild">
																<div class="panel panel-default tower">
																	<div class="panel-heading">
																		<h4 class="panel-title">
																			<table class="table-content1">
																				<tr>
																					<th></th>
																				</tr>
																				<tr>
																					<th></th>
																					<th></th>
																					<th>Y1</th>
																					<th>Y2</th>
																					<th>Y3</th>
																					<th>Y4</th>
																					<th>Y5</th>
																				</tr>
																				<tr>
																					<i data-toggle="collapse" data-parent="#virtualchild" data-target="#nested-public" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header">Public &nbsp;</td>
																					<input id="virtualPubServerVol" type="hidden" maxLength="5" name="virtualPublicServers" />
																					<td><input id="vServerPubPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicPerc" onchange="calculateVirtualPubServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerPubVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPubVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPubVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPubVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPubVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																			</table>
																		</h4>
																	</div>
																	<!--/.panel-heading -->

																	<div id="nested-public" class="panel-collapse collapse">

																		<div class="panel-body">
																			<div class="panel-group" id="publicChild">
					
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th>
																						<th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																					<i data-toggle="collapse" data-parent="#publicChild" data-target="#nestedPublic-window" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header">Windows/Linux &nbsp;</td>
																					<input id="virtualPubWinServerVol" type="hidden" maxLength="5" name="virtualPublicWinLinuxServers" />
																					<td><input id="vServerPubWinPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicWinLinuxPerc" onchange="calculateVirtualPubWinServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerPubWinVolY1" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPubWinVolY2" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPubWinVolY3" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPubWinVolY4" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPubWinVolY5" class="form-control"  type="text" maxLength="6" /></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nestedPublic-window" class="panel-collapse collapse">
					
																			<div class="panel-body">
																					<table class="table-content1">
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Small &nbsp;</td>
																							<input id="virtualPubWinSmServerVol" type="hidden" maxLength="5" name="virtualPublicWinLinuxSmallServers" />
																							<td><input id="vServerPubWinSmPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicWinLinuxSmallPerc" onchange="calculateVirtualPubWinSmServers();" style="margin-right: 10px;"></input></td>
																							<td><input id="vServerPubWinSmVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinSmVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinSmVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinSmVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinSmVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Medium &nbsp;</td>
																							<input id="virtualPubWinMdServerVol" type="hidden" maxLength="5" name="virtualPublicWinLinuxMediumServers" />
																							<td><input id="vServerPubWinMdPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicWinLinuxMediumPerc" onchange="calculateVirtualPubWinMdServers();" style="margin-right: 10px;"></input></td>
																							<td><input id="vServerPubWinMdVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinMdVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinMdVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinMdVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinMdVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Large &nbsp;</td>
																							<input id="virtualPubWinLgServerVol" type="hidden" maxLength="5" name="virtualPublicWinLinuxLargeServers" />
																							<td><input id="vServerPubWinLgPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicWinLinuxLargePerc" onchange="calculateVirtualPubWinLgServers();" style="margin-right: 10px;"></input></td>
																							<td><input id="vServerPubWinLgVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinLgVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinLgVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinLgVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerPubWinLgVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																							</tr>
																							</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																	<br/>
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th>
																						<th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																						
																						<i  data-toggle="collapse" data-parent="#publicChild" data-target="#nestedPublic-unix" style="font-size: 25px; color: #00BFFF"></i>
																						<td class="level-header"> Unix &nbsp;</td>
																						<input id="virtualPubUnixServerVol" type="hidden" maxLength="5" name="virtualPublicUnixServers" />
																						<td><input id="vServerPubUnixPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicUnixPerc" onchange="calculateVirtualPubUnixServers();" style="margin-right: 10px;"></input></td>
																						<td><input id="vServerPubUnixVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerPubUnixVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerPubUnixVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerPubUnixVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerPubUnixVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nestedPublic-unix" class="panel-collapse collapse">
					
																			<div class="panel-body">
																				<table class="table-content1">
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Small &nbsp;</td>
																				<input id="virtualPubUnixSmServerVol" type="hidden" maxLength="5" name="virtualPublicUnixSmallServers" />
																				<td><input id="vServerPubUnixSmPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicUnixSmallPerc" onchange="calculateVirtualPubUnixSmServers();" style="margin-right: 10px;"></input></td>
																				<td><input id="vServerPubUnixSmVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixSmVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixSmVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixSmVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixSmVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Medium &nbsp;</td>
																				<input id="virtualPubUnixMdServerVol" type="hidden" maxLength="5" name="virtualPublicUnixMediumServers" />
																				<td><input id="vServerPubUnixMdPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicUnixMediumPerc" onchange="calculateVirtualPubUnixMdServers();" style="margin-right: 10px;"></input></td>
																				<td><input id="vServerPubUnixMdVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixMdVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixMdVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixMdVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixMdVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Large &nbsp;</td>
																				<input id="virtualPubUnixLgServerVol" type="hidden" maxLength="5" name="virtualPublicUnixLargeServers" />
																				<td><input id="vServerPubUnixLgPercent" class="form-control"  type="text" maxLength="6" name="virtualPublicUnixLargePerc" onchange="calculateVirtualPubUnixLgServers();" style="margin-right: 10px;"></input></td>
																				<td><input id="vServerPubUnixLgVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixLgVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixLgVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixLgVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																				<td><input id="vServerPubUnixLgVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																				</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																</div>
																			
																		</div>
																		<!--/.panel-body -->

																	</div>
																</div>

																<br />
																<div class="panel panel-default tower">
																	<div class="panel-heading">
																		<h4 class="panel-title">
																			<table class="table-content1">
																				<tr>
																					<th></th>
																				</tr>
																				<tr>
																					<th></th>
																					<th></th>
																					<th>Y1</th>
																					<th>Y2</th>
																					<th>Y3</th>
																					<th>Y4</th>
																					<th>Y5</th>
																				</tr>
																				<tr>
																					
																					<i data-toggle="collapse" data-parent="#virtualchild" data-target="#nested-private" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header">	Private &nbsp;</td>
																					<input id="virtualPrivServerVol" type="hidden" maxLength="5" name="virtualPrivateServers" />
																					<td><input id="vServerPrivPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivatePerc" onchange="calculateVirtualPrivServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerPrivVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																			</table>
																		</h4>
																	</div>
																	<!--/.panel-heading -->

																	<div id="nested-private"
																		class="panel-collapse collapse">

																		<div class="panel-body">
																		
																		<div class="panel-group" id="privateChild">
					
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th>
																						<th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																						
																					<i  data-toggle="collapse" data-parent="#privateChild" data-target="#nestedPrivate-window" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header"> Windows/Linux &nbsp;</td>
																					<input id="virtualPrivWinServerVol" type="hidden" maxLength="5" name="virtualPrivateWinLinuxServers" />
																					<td><input id="vServerPrivWinPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateWinLinuxPerc" onchange="calculateVirtualPrivWinServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerPrivWinVolY1" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPrivWinVolY2" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPrivWinVolY3"  class="form-control" type="text" maxLength="6" /></td>
																					<td><input id="vServerPrivWinVolY4" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerPrivWinVolY5" class="form-control"  type="text" maxLength="6" /></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nestedPrivate-window" class="panel-collapse collapse">
					
																			<div class="panel-body">
																					<table class="table-content1">
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Small &nbsp;</td>
																							<input id="virtualPrivWinSmServerVol" type="hidden" maxLength="5" name="virtualPrivateWinLinuxSmallServers" />
																							<td><input id="vServerPrivWinSmPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateWinLinuxSmallPerc" onchange="calculateVirtualPrivWinSmServers();" style="margin-right: 10px;"/></td>
																							<td><input id="vServerPrivWinSmVolY1" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinSmVolY2" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinSmVolY3" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinSmVolY4" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinSmVolY5" class="form-control"  type="text" maxLength="6" /></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Medium &nbsp;</td>
																							<input id="virtualPrivWinMdServerVol" type="hidden" maxLength="5" name="virtualPrivateWinLinuxMediumServers" />
																							<td><input id="vServerPrivWinMdPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateWinLinuxMediumPerc" onchange="calculateVirtualPrivWinMdServers();" style="margin-right: 10px;"/></td>
																							<td><input id="vServerPrivWinMdVolY1" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinMdVolY2" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinMdVolY3" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinMdVolY4" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinMdVolY5" class="form-control"  type="text" maxLength="6" /></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Large &nbsp;</td>
																							<input id="virtualPrivWinLgServerVol" type="hidden" maxLength="5" name="virtualPrivateWinLinuxLargeServers" />
																							<td><input id="vServerPrivWinLgPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateWinLinuxLargePerc" onchange="calculateVirtualPrivWinLgServers();" style="margin-right: 10px;"/></td>
																							<td><input id="vServerPrivWinLgVolY1" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinLgVolY2" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinLgVolY3" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinLgVolY4" class="form-control"  type="text" maxLength="6" /></td>
																							<td><input id="vServerPrivWinLgVolY5" class="form-control"  type="text" maxLength="6" /></td>
																							</tr>
																							</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																	<br/>
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th><th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																					<i data-toggle="collapse" data-parent="#privateChild" data-target="#nestedPrivate-unix" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header"> Unix &nbsp;</td>
																					<input id="virtualPrivUnixServerVol" type="hidden" maxLength="5" name="virtualPrivateUnixServers" />
																					<td><input id="vServerPrivUnixPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateUnixPerc" onchange="calculateVirtualPrivUnixServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerPrivUnixVolY1"  class="form-control" type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivUnixVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivUnixVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivUnixVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerPrivUnixVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nestedPrivate-unix" class="panel-collapse collapse">
					
																			<div class="panel-body">
																				<table class="table-content1">
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Small &nbsp;</td>
																				<input id="virtualPrivUnixSmServerVol" type="hidden" maxLength="5" name="virtualPrivateUnixSmallServers" />
																				<td><input id="vServerPrivUnixSmPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateUnixSmallPerc" onchange="calculateVirtualPrivUnixSmServers();" style="margin-right: 10px;" /></td>
																				<td><input id="vServerPrivUnixSmVolY1" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixSmVolY2" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixSmVolY3" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixSmVolY4" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixSmVolY5" class="form-control"  type="text" maxLength="6" /></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Medium &nbsp;</td>
																				<input id="virtualPrivUnixMdServerVol" type="hidden" maxLength="5" name="virtualPrivateUnixMediumServers" />
																				<td><input id="vServerPrivUnixMdPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateUnixMediumPerc" onchange="calculateVirtualPrivUnixMdServers();" style="margin-right: 10px;" /></td>
																				<td><input id="vServerPrivUnixMdVolY1" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixMdVolY2" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixMdVolY3" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixMdVolY4" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixMdVolY5" class="form-control"  type="text" maxLength="6" /></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Large &nbsp;</td>
																				<input id="virtualPrivUnixLgServerVol" type="hidden" maxLength="5" name="virtualPrivateUnixLargeServers" />
																				<td><input id="vServerPrivUnixLgPercent" class="form-control"  type="text" maxLength="6" name="virtualPrivateUnixLargePerc" onchange="calculateVirtualPrivUnixLgServers();" style="margin-right: 10px;" /></td>
																				<td><input id="vServerPrivUnixLgVolY1" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixLgVolY2" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixLgVolY3" class="form-control"  type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixLgVolY4"  class="form-control" type="text" maxLength="6" /></td>
																				<td><input id="vServerPrivUnixLgVolY5"  class="form-control" type="text" maxLength="6" /></td>
																				</tr>
																				</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																</div>
																			
																			
																		</div>
																		<!--/.panel-body -->

																	</div>
																</div>

																<br />
																<div class="panel panel-default tower">
																	<div class="panel-heading">
																		<h4 class="panel-title">
																			<table class="table-content1">
																				<tr>
																					<th></th>
																				</tr>
																				<tr>
																					<th></th>
																					<th>Y1</th>
																					<th>Y2</th>
																					<th>Y3</th>
																					<th>Y4</th>
																					<th>Y5</th>
																				</tr>
																				<tr>
																					
																					<i  data-toggle="collapse" data-parent="#virtualchild" data-target="#nested-dedicated" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header">	Dedicated &nbsp;</td>
																					<input id="virtualDedServerVol" type="hidden" maxLength="5" name="virtualDedicatedServers" />
																					<td><input id="vServerDedPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedPerc" onchange="calculateVirtualDedServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerDedVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerDedVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerDedVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerDedVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																					<td><input id="vServerDedVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																				</tr>
																			</table>
																		</h4>
																	</div>
																	<!--/.panel-heading -->

																	<div id="nested-dedicated"
																		class="panel-collapse collapse">

																		<div class="panel-body">

																				<div class="panel-group" id="dedicatedChild">
					
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																					<i   data-toggle="collapse" data-parent="#dedicatedChild" data-target="#nestedDedicated-window" style="font-size: 25px; color: #00BFFF"></i>
																					<td class="level-header"> Windows/Linux &nbsp;</td>
																					<input id="virtualDedWinServerVol" type="hidden" maxLength="5" name="virtualDedicatedWinLinuxServers" />
																					<td><input id="vServerDedWinPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedWinLinuxPerc" onchange="calculateVirtualDedWinServers();" style="margin-right: 10px;"></input></td>
																					<td><input id="vServerDedWinVolY1" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerDedWinVolY2" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerDedWinVolY3" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerDedWinVolY4" class="form-control"  type="text" maxLength="6" /></td>
																					<td><input id="vServerDedWinVolY5" class="form-control"  type="text" maxLength="6" /></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nestedDedicated-window" class="panel-collapse collapse">
					
																			<div class="panel-body">
																					<table class="table-content1">
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Small &nbsp;</td>
																							<input id="virtualDedWinSmServerVol" type="hidden" maxLength="5" name="virtualDedicatedWinLinuxSmallServers" />
																							<td><input id="vServerDedWinSmPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedWinLinuxSmallPerc" onchange="calculateVirtualDedWinSmServers();" style="margin-right: 10px;"></input></td>
																							<td><input id="vServerDedWinSmVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinSmVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinSmVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinSmVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinSmVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Medium &nbsp;</td>
																							<input id="virtualDedWinMdServerVol" type="hidden" maxLength="5" name="virtualDedicatedWinLinuxMediumServers" />
																							<td><input id="vServerDedWinMdPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedWinLinuxMediumPerc" onchange="calculateVirtualDedWinMdServers();" style="margin-right: 10px;"></input></td>
																							<td><input id="vServerDedWinMdVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinMdVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinMdVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinMdVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinMdVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							</tr>
																							<tr>
																							<th></th>
																							<th></th>
																							<th>Y1</th>
																							<th>Y2</th>
																							<th>Y3</th>
																							<th>Y4</th>
																							<th>Y5</th>
																							</tr>
																							<tr>
																							<td class="level-header">Large &nbsp;</td>
																							<input id="virtualDedWinLgServerVol" type="hidden" maxLength="5" name="virtualDedicatedWinLinuxLargeServers" />
																							<td><input id="vServerDedWinLgPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedWinLinuxLargePerc" onchange="calculateVirtualDedWinLgServers();" style="margin-right: 10px;"></input></td>
																							<td><input id="vServerDedWinLgVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinLgVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinLgVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinLgVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																							<td><input id="vServerDedWinLgVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																							</tr>
																							</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																	<br/>
																	<div class="panel panel-default tower">
																		<div class="panel-heading">
																			<h4 class="panel-title">
																				<table class="table-content1">
																					<tr>
																						<th></th>
																					</tr>
																					<tr>
																						<th></th>
																						<th>Y1</th>
																						<th>Y2</th>
																						<th>Y3</th>
																						<th>Y4</th>
																						<th>Y5</th>
																					</tr>
																					<tr>
																						<i data-toggle="collapse" data-parent="#dedicatedChild" data-target="#nestedDedicated-unix" style="font-size: 25px; color: #00BFFF"></i>
																						<td class="level-header"> Unix &nbsp;</td>
																						<input id="virtualDedUnixServerVol" type="hidden" maxLength="5" name="virtualDedicatedUnixServers" />
																						<td><input id="vServerDedUnixPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedUnixPerc" onchange="calculateVirtualDedUnixServers();" style="margin-right: 10px;"></input></td>
																						<td><input id="vServerDedUnixVolY1" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerDedUnixVolY2" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerDedUnixVolY3" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerDedUnixVolY4" class="form-control"  type="text" maxLength="6"></input></td>
																						<td><input id="vServerDedUnixVolY5" class="form-control"  type="text" maxLength="6"></input></td>
																					</tr>
																				</table>
																			</h4>
																		</div>
																		<!--/.panel-heading -->
					
																		<div id="nestedDedicated-unix" class="panel-collapse collapse">
					
																			<div class="panel-body">
																				<table class="table-content1">
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Small &nbsp;</td>
																				<input id="virtualDedUnixSmServerVol" type="hidden" maxLength="5" name="virtualDedicatedUnixSmallServers" />
																				<td><input id="vServerDedUnixPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedUnixSmallPerc" onchange="calculateVirtualDedUnixSmServers();" style="margin-right: 10px;"></input></td>
																				<td><input id="vServerDedUnixSmVolY1" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixSmVolY2" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixSmVolY3" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixSmVolY4"  class="form-control" type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixSmVolY5" class="form-control"  type="text" maxLength="6"/></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Medium &nbsp;</td>
																				<input id="virtualDedUnixMdServerVol" type="hidden" maxLength="5" name="virtualDedicatedUnixMediumServers" />
																				<td><input id="vServerDedUnixPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedUnixMediumPerc" onchange="calculateVirtualDedUnixMdServers();" style="margin-right: 10px;"></input></td>
																				<td><input id="vServerDedUnixMdVolY1" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixMdVolY2" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixMdVolY3" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixMdVolY4"  class="form-control" type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixMdVolY5" class="form-control"  type="text" maxLength="6"/></td>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				</tr>
																				<tr>
																				<th></th>
																				<th></th>
																				<th>Y1</th>
																				<th>Y2</th>
																				<th>Y3</th>
																				<th>Y4</th>
																				<th>Y5</th>
																				</tr>
																				<tr>
																				<td class="level-header">Large &nbsp;</td>
																				<input id="virtualDedUnixLgServerVol" type="hidden" maxLength="5" name="virtualDedicatedUnixLargeServers" />
																				<td><input id="vServerDedUnixPercent" class="form-control"  type="text" maxLength="6" name="virtualDedicatedUnixLargePerc" onchange="calculateVirtualDedUnixLgServers();" style="margin-right: 10px;"></input></td>
																				<td><input id="vServerDedUnixLgVolY1"  class="form-control" type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixLgVolY2" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixLgVolY3" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixVolY4" class="form-control"  type="text" maxLength="6"/></td>
																				<td><input id="vServerDedUnixVolY5" class="form-control"  type="text" maxLength="6"/></td>
																				</tr>
																				</table>
					
																			</div>
																			<!--/.panel-body -->
					
																		</div>
																	</div>
																</div>
																		
																		</div>
																		<!--/.panel-body -->

																	</div>
																</div>




															</div>

														</div>
														<!--/.panel-body -->

													</div>
												</div>





											</div>

										</div>
										<!--/.panel-body -->
									</div>
									<!--/.panel-collapse -->
								</div>
								<!-- /.panel -->

							</div>
							<!-- /.panel-group -->


							<!-- nested level one-->
						</div>
						<!--/.panel-body -->
					</div>
					<!--/.panel-collapse -->
				</div>
				<!-- /.panel -->
				<br />


				<div class="panel panel-default tower">
					<div class="panel-heading">
						<h4 class="panel-title">
							<i data-toggle="collapse" data-parent="#accordion" data-target="#platformHostingBody" style="font-size: 25px; color: #00BFFF"></i> 
							<label class="main"> Platform Hosting </label>
						</h4>
					</div>
					<!--/.panel-heading -->
					<div id="platformHostingBody" class="panel-collapse collapse">
						<div class="panel-body">
							<table class="table-content1">
								<tr>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<th></th>
									<th>Y1</th>
									<th>Y2</th>
									<th>Y3</th>
									<th>Y4</th>
									<th>Y5</th>
								</tr>
								<tr>
									<td class="level-header">Middleware &nbsp;</td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
								</tr>
								<tr>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<th></th>
									<th>Y1</th>
									<th>Y2</th>
									<th>Y3</th>
									<th>Y4</th>
									<th>Y5</th>
								</tr>
								<tr>
									<td class="level-header">Oracle Databases &nbsp;</td>
									<input id="oracleInst" type="hidden" maxLength="5" name="oracleDbInstances" />
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
								</tr>
								<tr>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<th></th>
									<th>Y1</th>
									<th>Y2</th>
									<th>Y3</th>
									<th>Y4</th>
									<th>Y5</th>
								</tr>
								<tr>
									<td class="level-header">MS SQL Databases &nbsp;</td>
									<input id="msSqlInst" type="hidden" maxLength="5" name="msSqlDbInstances" />
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
								</tr>
								<tr>
									<th></th>
									<th></th>
								</tr>
								<tr>
									<th></th>
									<th>Y1</th>
									<th>Y2</th>
									<th>Y3</th>
									<th>Y4</th>
									<th>Y5</th>
								</tr>
								<tr>
									<td class="level-header">MYSQL Databases &nbsp;</td>
									<input id="mySqlInst" type="hidden" maxLength="5" name="mySqlDbInstances" />
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
									<td><input type="text" maxLength="6" class="form-control"/></td>
								</tr>
							</table>


						</div>
						<!--/.panel-body -->
					</div>
					<!--/.panel-collapse -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.panel-group -->
		</div>
		<!-- /.container -->
	</section>
</form>