<!-- <div class="container login-container">
	<div class="row well well-lg login-box">
		<div class="col-md-6">
            <img id="q-logo" src="../images/Q-icon.png"></img>
			<br></br><p class="logo-text">Fujitsu Pricing Tool</p>
		</div>
      	<div class="col-md-6">
          <form>
              <div class="form-group">
 	                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
 	                  <input type="text" class="form-control" id="username" ng-model="username" required="required" maxlength="15" placeholder="Enter user name" />
              </div>
              <div class="form-group">
	                   <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
	                   <input type="password" class="form-control" id="password" ng-model="password" required="required" maxlength="15" placeholder="Enter password" />
              </div>

              <button id="loginBtn" type="submit" ng-click="login()" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
         </form>
         <a class="new-user-link"> New User? </a>
              <div class="modal fade" id="newUserDialog" role="dialog">
              	<th:block th:include="registration :: newUserDialog"></th:block>
              </div>
       </div>
    </div>
</div> -->
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>